body{
    text-align: center;
    background-color: black;
}
#game_name{
    color: white;
}
/* Table */
#jbTable{
    height: 700px;
    background-color: green;
    border-radius: 325px;
    border: 30px solid rgb(148, 88, 8);
}
.column{
    float: left;
    width: 33.33%;
}

/* Cards */
#dealer_cards img{
    height: 200px;
    width: 150px;
    margin: 1px;
    margin-left: -40px;
    margin-right: -40px;
    border-radius: 10px;
}

#hidden{
    border-radius: 10px;
}

#player_cards img{
    height: 200px;
    width: 150px;
    margin-left: -40px;
    margin-right: -40px;
    border-radius: 10px;
}

/* Play Buttons */
#hit, #stay{
    cursor: pointer;
    width: 90px;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 55px;
    background-color: rgb(193, 120, 10);
}
/*Highscores*/
.scores{
    text-align: center;
    color: white;
    background-color: lightgray;
    width: 300px;
    padding: 2px;
    border-radius: 10px;
    margin: auto;
    width: 20%;
}

/* Chips */
#score_header{
    margin-top: 60%;
    float: right;
    transform: translate(-200%,0%);
}
.chips{
    float: right;
    height: 70px;
    width: 70px;
    border-radius: 70px ;
    margin-top: 70%;
}

/* Lost Menu */
#display_results{
    width: 180px;
    height: 140px;
    padding: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 200ms ease-in-out;
    border: 5px solid black;
    border-radius: 10px;
    background-color: rgb(197, 49, 49);
}
#try_again{
    cursor: pointer;
    width: 90px;
    height: 30px;
    margin-top: 5px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(193, 120, 10);
}
/* Display Wins */
#player_bet_header{
    margin-top: 35%;
}
#player_amount_won_header{
    margin-top: 40%;
}

/* Music */
#music_selection{
    color: white;
}
